<% include chunks/header %>

        <div id = "registerBox">
            
            <h3 class = "title">Register Form Error</h3>
            
            <!-- This script checks to see if the password is at least 6 characters long or not. -->
            <!-- If it is not then it shows an error message in the label. -->
            <script>
                function checkPasswordLength(){
                    var password = document.getElementById('f_password').value;
                    
                    if (password.split("").length < 6){
                        document.getElementById('lb_short_password').hidden = false;
                        document.getElementById('signUpButton').disabled = true;
                    }
                    else{
                        document.getElementById('lb_short_password').hidden = true;
                        document.getElementById('signUpButton').disabled = false;
                    }
                }
            </script>
            
            <!-- This script checks if the two passwords are the same or not. -->
            <!-- If they are not then it shows the error message in the label. -->
            <script>
                function checkPasswords(){
                    var password = document.getElementById('f_password').value;
                    var confirmPassword = document.getElementById('f_confirmPassword').value;
                    
                    if (password != confirmPassword){
                        document.getElementById('lb_password_mismatch').hidden = false;
                        document.getElementById('signUpButton').disabled = true;
                    }
                    else{
                        document.getElementById('lb_password_mismatch').hidden = true;
                        document.getElementById('signUpButton').disabled = false;
                    }
                }
            </script>
            
            
            
            <form id = "registerForms" method = "post" action="/register">
                
                <div class = registerInput>
                <p style="color:#ff0000;">The username you entered already exists. Please enter a different username.</p>
                
                <label for="f_username">Username : </label>
                <label style="color:#ff0000;">*</label>
                <input id = "f_username" name = "username" required><br>
                
                <label for="f_password">Password: </label>
                <label style="color:#ff0000;">*</label>
                <input id = "f_password" type = "Password" name = "password" onblur="checkPasswordLength()" required>
                <label id="lb_short_password" class="errors_msg" hidden="true" style="color:#ff0000;">Password has to be at least 6 characters long.</label>
                <br>
            
                <label for="f_confirmPassword">Confirm Password: </label>
                <label style="color:#ff0000;">*</label>
                <input id = "f_confirmPassword" type = "Password" name = "confirm_password" onblur="checkPasswords()" required>
                <label id="lb_password_mismatch" class="errors_msg" hidden="true" style="color:#ff0000;">Passwords do not match!</label>
                <br>
                
                <label for="f_firstName">First Name: </label>
                <label style="color:#ff0000;">*</label>
                <input id = "f_firstName" name = "firstName" value = "<%=datalist.firstName%>" required> <br>
                
                <label for="f_lastName">Last Name: </label>
                <label style="color:#ff0000;">*</label>
                <input id = "f_lastName" name = "lastName" value = "<%=datalist.lastName%>"  required> <br>
                
                <label for="f_birthday">Birthday: </label>
                <label style="color:#ff0000;">*</label>
                
                    
                <div class = "birthdayInput">
                    
                <select id ="birthday_day" class = "numberSelect" name = "birthday_day">
                    <script>
                        var selector = document.getElementById('birthday_day')
                        for (var i=1; i<32; i++){
                            selector.options[i-1] = new Option(i.toString(), i.toString());
                        }
                        selector.selectedIndex = <%=datalist.birthday_day%> - 1;
                    </script>
                </select>
                <select id="birthday_month" class = "month" name="birthday_month">
                    <option value="January" <% if (datalist.birthday_month === "January") { %> selected <% } %>>January</option>
                    <option value="February" <% if (datalist.birthday_month === "February") { %> selected <% } %>>February</option>
                    <option value="March" <% if (datalist.birthday_month === "March") { %> selected <% } %>>March</option>
                    <option value="April" <% if (datalist.birthday_month === "April") { %> selected <% } %>>April</option>
                    <option value="May" <% if (datalist.birthday_month === "May") { %> selected <% } %>>May</option>
                    <option value="June" <% if (datalist.birthday_month === "June") { %> selected <% } %>>June</option>
                    <option value="July" <% if (datalist.birthday_month === "July") { %> selected <% } %>>July</option>
                    <option value="August" <% if (datalist.birthday_month === "August") { %> selected <% } %>>August</option>
                    <option value="September" <% if (datalist.birthday_month === "September") { %> selected <% } %>>September</option>
                    <option value="October" <% if (datalist.birthday_month === "October") { %> selected <% } %>>October</option>
                    <option value="November" <% if (datalist.birthday_month === "November") { %> selected <% } %>>November</option>
                    <option value="December" <% if (datalist.birthday_month === "December") { %> selected <% } %>>December</option>
                </select>
                <select id="birthday_year" class = "numberSelect" name="birthday_year">
                    <script>
                        var selector = document.getElementById('birthday_year')
                        for (var i=0; i<= 100; i++){
                            var year = new Date().getFullYear() - 100 + i;
                            selector.options[i] = new Option(year.toString(), year.toString());
                        }
                        selector.selectedIndex = <%=datalist.birthday_year%> + 100 - new Date().getFullYear();
                    </script>
                </select>
                
                </div>
                <br>
                
                <label for="f_gender">Gender: </label>
                <label style="color:#ff0000;">*</label>
    
                <select class = "gender" name = "gender">
                        <option value="Male" <% if (datalist.gender === "Male") { %> selected <% } %>>Male</option>
                        <option value="Female" <% if (datalist.gender === "Female") { %> selected <% } %>> Female</option> 
                </select> <br>
                
                <label for="f_phoneNumber">Phone Number: </label>
                <input id = "f_phoneNumber" name = "phoneNumber" value = "<%=datalist.phoneNumber%>"> <br>
                
                <label for="f_address">Address: </label>
                <input id = "f_address" name = "address" value = "<%=datalist.address%>"> <br>
                
                <label for="f_yearsOfDriverExperience">Years of Driver Experience: </label>
                <input id = "f_yearsOfDriverExperience" name = "driverExperience" value = "<%=datalist.driverExperience%>"> <br>
                
                <label for="f_email">Email: </label>
                <input id = "f_email" name = "email" value = <%=datalist.email%>> <br>
                
                </div> 
                
            
                <div class = "pictureUpload">
                    <label for ="erPic"> Upload a Picture: </label>
                    <a> <img id = "erPic" src ="http://www.iitk.ac.in/ame/sae/img/default2.gif" width = "100" height = "100"></a> <br>
                    <input type="file" name="dataFile" id="fileChooser" class = "fileChooser" />
                </div>
            
            
                <div class = "aboutMe">
                    <label for ="tb_about">About Me: </label>
                    <input id= "tb_about" name = "AboutMe" value="<%=datalist.aboutMe%>"></textarea>
                </div>
                
                <button class = "button" id = "signUpButton" type="submit"> Submit </button>
            </form>  
        </div>

<% include chunks/footer %>



                                                                                                                                     