<% include chunks/header %>
<% include chunks/nav %>

<!-- User will be able to view his or her active posts -->

<h1 class = "title">Your Active Posts</h1>

<h3 id = "cp" class = "RiderPosts" >Riding Posts: </h3>

<%if (currentRiderPosts.length === 0) { %>
<div id="noPosts">
    <p>You have no current Riding Posts</p>
    <a href="/getCreatePost">Create a Rider Post</a>
</div>
<%}%>

<%currentRiderPosts.forEach(function(post) { %>
    
    <div id = "currentPosts" class = "text">
        <div id = "location">
        
            <label for = "vcp_from">From:</label>
            <div id = "vcp_from">
                <div id = "vcp_fromAddress"> Address: <p><%=post.FromStreet%> </p> </div>
                <div id = "vcp_fromCity"> City: <p><%=post.FromCity%></p> </div>
                <div id = "vcp_fromState"> State: <p><%=post.FromState%></p> </div>
            </div>
            <br>
        
            <label for = "vcp_to">To:</label>
            <div id = "vcp_to">
                <div id = "vcp_toAddress">Address: <p><%=post.ToStreet%> </p> </div>
                <div id = "vcp_toCity">City: <p><%=post.ToCity%></p> </div>
                <div id = "vcp_toState">State: <p><%=post.ToState%></p> </div>
            </div>
        
        </div> <br>
        
        <label for = "currentPosts_timeOfDeparture">Departure:</label>
        <div id = "currentPosts_timeOfDeparture"> 
            Date: <p><%=post.Day%>/<%=post.Month%>/<%=post.Year%></p>
            Time: <p><%=post.DepartureHour%>:<%=post.DepartureMinute%> <%=post.DepartureMeridian%></p>
        </div> <br>
        
        <label for = "currentPosts_extraInfo">Extra Info: </label>
        <div id = "currentPosts_extraInfo">
        Number of Passengers: <p><%=post.Passengers%></p>
        Fare: <p>$<%=post.Fare%></p>
        </div>
    </div>
<% }); %>

<h3 class = "DriverPosts">Driving Posts: </h3>

<%if (currentDriverPosts.length === 0) { %>
<div id="noPosts">
    <p id = "noPosts" >You have no current Driving Posts</p>
    <a id = "noPosts" href="/getCreatePost">Create a Driver Post</a>
</div>
<%}%>

<%currentDriverPosts.forEach(function(post) { %>
    
    <div id = "currentPosts" class = "text">
        
        <div id = "location">
        
            <label for = "vcp_from">From:</label>
            <div id = "vcp_from">
                <div id = "vcp_fromAddress"> Address: <p><%=post.FromStreet%> </p> </div>
                <div id = "vcp_fromCity"> City: <p><%=post.FromCity%></p> </div>
                <div id = "vcp_fromState"> State: <p><%=post.FromState%></p> </div>
            </div>
            <br>
        
            <label for = "vcp_to">To:</label>
            <div id = "vcp_to">
                <div id = "vcp_toAddress">Address: <p><%=post.ToStreet%> </p> </div>
                <div id = "vcp_toCity">City: <p><%=post.ToCity%></p> </div>
                <div id = "vcp_toState">State: <p><%=post.ToState%></p> </div>
            </div>
        
        </div> <br>
        
        <label for = "currentPosts_timeOfDeparture">Departure:</label>
        <div id = "currentPosts_timeOfDeparture"> 
            Date: <p><%=post.Day%>/<%=post.Month%>/<%=post.Year%></p>
            Time: <p><%=post.DepartureHour%>:<%=post.DepartureMinute%> <%=post.DepartureMeridian%></p>
        </div> <br>
        
        <label for = "currentPosts_extraInfo">Extra Info: </label>
        <div id = "currentPosts_extraInfo">
            Number of Passengers: <p><%=post.Passengers%></p>
            Fare: <p>$<%=post.Fare%></p>
            Seats Available: <p><%=post.SeatsAvailable%></p>
            Travel Time: <p><%=post.TravelTime%> hour(s)</p>
        </div>
        
    </div>
<% }); %>

<h1 class = "title">Your Expired Posts</h1>

<h3 class = "DriverPosts">Expired Riding Posts: </h3>

<%expiredRiderPosts.forEach(function(post) { %>
    
    <div id = "currentPosts" class = "text">
        <div id = "location">
        
            <label for = "vcp_from">From:</label>
            <div id = "vcp_from">
                <div id = "vcp_fromAddress"> Address: <p><%=post.FromStreet%> </p> </div>
                <div id = "vcp_fromCity"> City: <p><%=post.FromCity%></p> </div>
                <div id = "vcp_fromState"> State: <p><%=post.FromState%></p> </div>
            </div>
            <br>
        
            <label for = "vcp_to">To:</label>
            <div id = "vcp_to">
                <div id = "vcp_toAddress">Address: <p><%=post.ToStreet%> </p> </div>
                <div id = "vcp_toCity">City: <p><%=post.ToCity%></p> </div>
                <div id = "vcp_toState">State: <p><%=post.ToState%></p> </div>
            </div>
        
        </div> <br>
        
        <label for = "currentPosts_timeOfDeparture">Departure:</label>
        <div id = "currentPosts_timeOfDeparture"> 
            Date: <p><%=post.Day%>/<%=post.Month%>/<%=post.Year%></p>
            Time: <p><%=post.DepartureHour%>:<%=post.DepartureMinute%> <%=post.DepartureMeridian%></p>
        </div> <br>
        
        <label for = "currentPosts_extraInfo">Extra Info: </label>
        <div id = "currentPosts_extraInfo">
        Number of Passengers: <p><%=post.Passengers%></p>
        Fare: <p>$<%=post.Fare%></p>
        </div>
    </div>
<% }); %>

<h3 class = "DriverPosts">Expired Driving Posts: </h3>

<%expiredDriverPosts.forEach(function(post) { %>
    
    <div id = "currentPosts" class = "text">
        <div id = "location">
        
            <label for = "vcp_from">From:</label>
            <div id = "vcp_from">
                <div id = "vcp_fromAddress"> Address: <p><%=post.FromStreet%> </p> </div>
                <div id = "vcp_fromCity"> City: <p><%=post.FromCity%></p> </div>
                <div id = "vcp_fromState"> State: <p><%=post.FromState%></p> </div>
            </div>
            <br>
        
            <label for = "vcp_to">To:</label>
            <div id = "vcp_to">
                <div id = "vcp_toAddress">Address: <p><%=post.ToStreet%> </p> </div>
                <div id = "vcp_toCity">City: <p><%=post.ToCity%></p> </div>
                <div id = "vcp_toState">State: <p><%=post.ToState%></p> </div>
            </div>
        
        </div> <br>
        
        <label for = "currentPosts_timeOfDeparture">Departure:</label>
        <div id = "currentPosts_timeOfDeparture"> 
            Date: <p><%=post.Day%>/<%=post.Month%>/<%=post.Year%></p>
            Time: <p><%=post.DepartureHour%>:<%=post.DepartureMinute%> <%=post.DepartureMeridian%></p>
        </div> <br>
        
        <label for = "currentPosts_extraInfo">Extra Info: </label>
        <div id = "currentPosts_extraInfo">
        Number of Passengers: <p><%=post.Passengers%></p>
        Fare: <p>$<%=post.Fare%></p>
        </div>
    </div>
<% }); %>



<% include chunks/footer %>
