<% include chunks/header %>
<% include chunks/nav %>

<!-- User will be able to view his or her active posts -->

<h2 class = "title">Your Active Posts</h2>

<h3 class = "RiderPosts">Current Posts You Are Riding: </h3>

<%currentPosts.forEach(function(post) { %>
    
    <div id = "currentPosts" class = "text">
        <div id = "location">
        From Address: <p><%=post.FromAddress%> </p>
        From City: <p><%=post.FromCity%></p>
        From State: <p><%=post.FromState%></p>
        
        To Address: <p><%=post.ToAddress%> </p>
        To City: <p><%=post.ToCity%></p>
        To State: <p><%=post.ToState%></p>
        </div> <br>
        
        <div id = "currentPosts_timeOfDeparture"> 
            Departure Date: <p><%=post.DepartureDate%></p>
            Departure Time: <p><%=post.DepartureHour%>:<%=post.DepartureMinute%> <%=post.DepartureMeridian%></p>
        </div> <br>
        
        <div id = "currentPosts_extraInfo">
        Number of Passengers: <p><%=post.Passengers%></p>
        Seats Available: <p><%=post.SeatsAvailable%></p>
        Fare: <p><%=post.Fare%></p>
        </div>
    </div>
<% }); %>

<% include chunks/footer %>
